<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnTIX | online cinema ticket booking app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 30px">
        <div class="container">
          <a class="navbar-brand" href="index.html">AnTIX</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="user.html">User</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="movie.html">Movie</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="theaters.html">Theaters</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="transaction.html">Transaction</a>
                </li>
              </ul>
          </div>
        </div>
    </nav>
    <div id="app">
        <div class="container">
            <div class="py-5 text-center">
                <h2>AnTIX</h2>
                <p class="lead">online cinema ticket booking app</p>
            </div>
            <h4 class="mb-3" id="form">Theater Information</h4>
                <form class="needs-validation" style="margin-bottom: 10%;" novalidate>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="theater" class="col-form-label">Theater Name</label>
                            <input  v-model="theater" type="text" class="form-control" id="theater" placeholder="enter the theater name" value="" required>
                            <div class="invalid-feedback">
                            Valid theater name is required.
                            </div>
                        </div>                       
                        <div class="col-md-6 mb-3">
                            <label class="col-form-label">Status</label>
                            <div class="mb-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="active" id="active" value="true" v-model="status">
                                    <label class="form-check-label"  for="active">Active</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="nActive" id="nActive" value="false" v-model="status">
                                    <label class="form-check-label" for="nActive">Not Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="col-form-label">Address</label>
                        <textarea  v-model="address" type="text" class="form-control" id="address" placeholder="enter theater address" value="" required></textarea>
                        <div class="invalid-feedback">
                            Valid address is required.
                        </div>
                    </div>
                    <hr class="mb-4">
                    <button v-if="!editMode && !deleteMode" v-on:click="createTheater" class="btn btn-primary btn-md btn-primary d-grid  mx-auto" type="submit"><a href="#table" class="text-decoration-none text-white">Submit Data</a></button>
                    <button v-if="editMode" v-on:click="updateTheater" class="btn btn-warning btn-md btn-primary d-grid mx-auto" type="submit"><a href="#table" class="text-decoration-none text-dark">Update Data</a></button>
                    <button v-if="deleteMode" v-on:click="deleteTheater" class="btn btn-danger btn-md btn-primary d-grid mx-auto" type="submit"><a href="#table" class="text-decoration-none text-white">Delete Data</a></button>              
                </form>
                <div class="col-md-12">
                    <h4 class="mb-3" id="table">Theater Data</h4>
                    <table class="table">
                        <thead class="table-info text-center">
                            <tr>
                                <th>ID</th>
                                <th>Theater Name</th>
                                <th>Address</th>
                                <th>Status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr v-for="theater in theaters">
                                <td>{{ theater.id }}</td>
                                <td>{{ theater.theater }}</td>
                                <td>{{ theater.address }}</td>
                                <td>{{ theater.status }}</td>
                                <td><button class="btn btn-md btn-warning" v-on:click="getEdit(theater)"><a href="#form" class="text-decoration-none text-dark">Update</a></button></td>
                                <td><button class="btn btn-danger" v-on:click="getDelete(theater)"><a href="#form" class="text-decoration-none text-white">Delete</a></button></td>
                            </tr>
                        </tbody>
                    </table>
                <div v-if="message" class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            </div>
            <button class="btn btn-md btn-primary d-grid mx-auto" v-on:click="resetForm()"><a href="#form" class="text-decoration-none text-white">Create New theater</a></button>
        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; Andrew Sitohang</p>
        </footer>
    </div>
    

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                errors: [],
                message: null,
                theaters:[],
                theaterIdEdit: null,
                theaterIdDelete: null,
                editMode: false,
                deleteMode: false,
                theater: '',
                address: '',
                status: '',
            },
            mounted: function() {
                this.getTheater();
            },
            methods: {
                getTheater() {
                    axios.get('https://6215d4b1c9c6ebd3ce32dbb2.mockapi.io/theaters')
                        .then(response => {
                            this.theaters = response.data;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                createTheater: function(){
                    axios.post('https://6215d4b1c9c6ebd3ce32dbb2.mockapi.io/theaters', {
                        theater: this.theater,
                        address: this.address,
                        status: this.status,
                    })
                    .then(response => {
                            this.getTheater();
                            this.message = "Your data has been submitted";
                            console.log(response);
                    })
                    .catch(error => {
                            console.log(error);
                    });
                },
                resetForm: function () {
                    this.message = null;
                    this.editMode = false;
                    this.deleteMode = false;
                    this.theaterIdEdit = null;
                    this.theater = null;
                    this.address = null;
                    this.status = null;
                },
                getEdit: function (theater) {
                    this.message = null;
                    this.editMode = true;
                    this.deleteMode = false;
                    this.theaterIdEdit = theater.id;
                    this.theater = theater.theater;
                    this.address = theater.address;
                    this.status = theater.status;
                },
                getDelete: function (theater) {
                    this.message = null;
                    this.deleteMode = true;
                    this.editMode = false;
                    this.theaterIdDelete = theater.id;
                    this.theater = theater.theater;
                    this.address = theater.address;
                    this.status = theater.status;
                },
                updateTheater: function () {
                    axios.put(`https://6215d4b1c9c6ebd3ce32dbb2.mockapi.io/theaters/${this.theaterIdEdit}`, {
                            theater: this.theater,
                            address: this.address,
                            status: this.status,
                        })
                        .then(res => {
                            // handle success
                            this.message = "Your data has been updated";
                            this.getTheater();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                },
                // Delete theater
                deleteTheater: function () {
                    axios.delete(`https://6215d4b1c9c6ebd3ce32dbb2.mockapi.io/theaters/${this.theaterIdDelete}`)
                        .then(res => {
                            this.message = "Your data has been deleted";
                            this.getTheater();
                        })
                        .catch(err => {
                            console.log(err);
                        })
                }
            }
        })
        
    </script>


</body>
</html>